@import "./colours";

.timeline {
  display: grid;
  grid-template-columns: 1fr 16px 1fr;
  row-gap: 20px;
  align-items: center;
  // justify-items: center;
}


.TimelineItemCard {
  margin:10px;
}

.TimelineItemHeader {
  background-color: $colorDarkteal;
  padding: 5px;
}

h4, h6 {
  margin: 0px;
}

.verticalLine {
  align-self: stretch;
  justify-self: center;
}

.verticalLine > div{
  background-color: $colorDarkteal;
  border-radius: 2px;
  width: 4px;
  height: calc(100% - 4px);
  margin: 2px;
  align-self: normal;
  display: inline-block;
}